{
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    }
  ]
}
